* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    /*check them*/
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: rgba(131, 22, 22, 0.62);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*check them*/
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.hobbies{
    background: var(--bg-color);
    color:black;
}
.hobbies h2{
    background: var(--bg-color);
    color: white;
}
.hobbies_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.hobbies_box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.hobbies_box:hover{
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.hobbies_box .hobbies_info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.hobbies_info h4{
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
}

.hobbies_info p{
    font-size: 1.6rem;
    font-weight: 600;
}


::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}


@media(max-width: 1285px) {
    html{
        font-size: 55%;
    }
    .hobbies_container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
    .hobbies_box p{
        font-size: 1.5rem;
    }
}


@media(max-width: 991px) {
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    .timeline-items::before{
        left: calc(50% - 1px);
    };
    .timeline-items:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-items:nth-child(odd),
    .timeline-items:nth-child(even){
        width: 102%;
    }
    .timeline-dot{
        left: calc(50% + 10px);
    }
    .hobbies{
        padding-bottom: 7rem;
    }

    .family .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width: 895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
    }
    .hobbies h2{
        margin-bottom: 3rem;
    }
    .hobbies_container{
        grid-template-columns: repeat(1,1fr);
    }
    .timeline-dot{
        left: calc(50% - 8px);
    }
}

.hobbies-icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 1px solid transparent;
    font-size: 2.5rem;
    border-radius: 50%;

    transition: 0.3s ease-in-out;
}

.hobbies-icons:hover {
    color: var(--text-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}


@media (max-width: 600px) {
    .timeline-dot{
        left: calc(50% - 8px);
    }
    .hobbies_box p{
        font-size: 1.3rem;
    }
}

@media (max-width: 438px) {
    .hobbies_box p{
        font-size: 1.2rem;
    }
}

@media (max-width: 391px) {
    .hobbies_box p{
        font-size: 1rem;
    }
}

@media (max-width: 344px) {
    .hobbies_box p{
        font-size: 1rem;
    }
}